<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Known</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <section id="home">
            <div class="caption">
                <div class="container">
                    <div class="row animated fadeInRight">
                        <div class="col-md-6 col-sm-12">
                            <div class="hd-title">
                                <h1>Distance Learning Education Center</h1>
                                <h3>Our online courses are designed to fit in your industry supporting all-round with latest technologies.</h3>
                                <a href="#" class="section-btn btn btn-default smoothScroll">Discover more</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <section id="content">
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="col-lg-12 content-details">
                        <h2>MAGNA ETIAM LOREM</h2>
                        <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.
                            Integer adipiscin
                            sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non,
                            congue vel, arcu,
                            erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis
                            mi in ante.</p>
                        <div class="content-btn">
                            <a href="#" class="btn button alt">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>                
        <section id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="feature-thumb">
                            <span><i class="fas fa-laptop"></i></span>
                            <h3>Trending Courses</h3>
                            <p>Known is free education HTML Bootstrap Template. You can modify in any way and use this for your website.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="feature-thumb">
                            <span><i class="far fa-gem"></i></span>
                            <h3>Books & Library</h3>
                            <p>You are allowed to use Known HTML Template for your commercial or non-commercial websites.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="feature-thumb">
                            <span><i class="fas fa-laptop"></i></span>
                            <h3>Certified Teachers</h3>
                            <p>Please spread a word about us. Template redistribution is NOT allowed on any download website.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>          
        <section id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title">
                            <h2>Team <small>Meet Professional Trainers</small></h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-thumb">
                            <div class="team-image">
                                <img src="images/author-image1.jpg" class="img-responsive img-fluid" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Mark Wilson</h3>
                                <span>I love Teaching</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-thumb">
                            <div class="team-image">
                                <img src="images/author-image2.jpg" class="img-responsive img-fluid" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Catherine</h3>
                                <span>Education is the key!</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class=""><i class="fab fa-google"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-thumb">
                            <div class="team-image">
                                <img src="images/author-image3.jpg" class="img-responsive img-fluid" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Jessie Ca</h3>
                                <span>I like Online Courses</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class=""><i class="fas fa-envelope"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-thumb">
                            <div class="team-image">
                                <img src="images/author-image4.jpg" class="img-responsive img-fluid" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Andrew Berti</h3>
                                <span>Learning is fun</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-google"></i></a></li>
                                <li><a href="#" class=""><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </>
            </div>
        </section> 
        <section class="testimonial text-center">
            <div class="container">
        
                <div class="heading white-heading">
                    Testimonial
                </div>
                <div id="testimonial4"
                    class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
                    data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
        
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="testimonial4_slide">
                                <img src="images/author-image1.jpg" class="img-circle img-responsive" />
                                <p>"Vestibulum mauris ipsum, tempor tincidunt justo sit amet, bibendum tincidunt dui. Aenean
                                    molestie, odio quis viverra
                                    ultricies, leo tellus lacinia neque, sit amet maximus tortor nunc aliquet felis." </p>
                                <h4>Mark Wilson</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial4_slide">
                                <img src="images/author-image2.jpg" class="img-circle img-responsive" />
                                <p>"Ut elementum a elit sed tristique. Pellentesque sed semper erat. Orci varius natoque
                                    penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Aenean quam erat, rutrum ut malesuada." </p>
                                <h4>Catherine</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial4_slide">
                                <img src="images/author-image3.jpg" class="img-circle img-responsive" />
                                <p>"Quisque lacinia sed velit et maximus. Quisque dictum, lacus a malesuada finibus, arcu magna
                                    luctus risus, eu accumsan
                                    risus elit vitae lacus." </p>
                                <h4>Jessie Ca</h4>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </section>
        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>Our Blog <small>Upgrade your skills with newest courses</small></h2>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media blog-thumb">
                            <div class="media-object media-left">
                                <a href="#"><img src="images/courses-image1.jpg" class="img-responsive img-fluid" alt=""></a>
                                <div class="blog-content">
                                    <h3><a href="#">How To Find Out Beautiful Workspace.</a></h3>
                                    <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                    <a href="#" class="btn section-btn">Read article</a>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media blog-thumb">
                            <div class="media-object media-left">
                                <a href="#"><img src="images/courses-image2.jpg" class="img-responsive img-fluid" alt=""></a>
                                <div class="blog-content">
                                    <h3><a href="#">How To Find Out Beautiful Workspace.</a></h3>
                                    <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                    <a href="#" class="btn section-btn">Read article</a>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media blog-thumb">
                            <div class="media-object media-left">
                                <a href="#"><img src="images/courses-image3.jpg" class="img-responsive img-fluid" alt=""></a>
                                <div class="blog-content">
                                    <h3><a href="#">How To Find Out Beautiful Workspace.</a></h3>
                                    <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                    <a href="#" class="btn section-btn">Read article</a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 contact-form">
                        <form id="contact-form" role="form" action="" method="post">
                            <div class="section-title">
                                <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                            </div>
                        
                            <div class="col-md-12 col-sm-12">
                                <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                        
                                <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">
                        
                                <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message"
                                    required=""></textarea>
                            </div>
                        
                            <div class="col-sm-4 col-md-6 col-6 pl-0 contact-form-btn">
                                <input type="submit" class="form-control" name="send message" value="Send Message">
                            </div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </section>            
    <% include /src/include/footer.ejs %>
<% include /src/include/scripts.ejs %>
    <script>
            $(document).ready(function () {
                    var itemsMainDiv = ('.MultiCarousel');
                    var itemsDiv = ('.MultiCarousel-inner');
                    var itemWidth = "";

                    $('.leftLst, .rightLst').click(function () {
                        var condition = $(this).hasClass("leftLst");
                        if (condition)
                            click(0, this);
                        else
                            click(1, this)
                    });

                    ResCarouselSize();




                    $(window).resize(function () {
                        ResCarouselSize();
                    });

                    //this function define the size of the items
                    function ResCarouselSize() {
                        var incno = 0;
                        var dataItems = ("data-items");
                        var itemClass = ('.item');
                        var id = 0;
                        var btnParentSb = '';
                        var itemsSplit = '';
                        var sampwidth = $(itemsMainDiv).width();
                        var bodyWidth = $('body').width();
                        $(itemsDiv).each(function () {
                            id = id + 1;
                            var itemNumbers = $(this).find(itemClass).length;
                            btnParentSb = $(this).parent().attr(dataItems);
                            itemsSplit = btnParentSb.split(',');
                            $(this).parent().attr("id", "MultiCarousel" + id);


                            if (bodyWidth >= 1200) {
                                incno = itemsSplit[3];
                                itemWidth = sampwidth / incno;
                            }
                            else if (bodyWidth >= 992) {
                                incno = itemsSplit[2];
                                itemWidth = sampwidth / incno;
                            }
                            else if (bodyWidth >= 768) {
                                incno = itemsSplit[1];
                                itemWidth = sampwidth / incno;
                            }
                            else {
                                incno = itemsSplit[0];
                                itemWidth = sampwidth / incno;
                            }
                            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                            $(this).find(itemClass).each(function () {
                                $(this).outerWidth(itemWidth);
                            });

                            $(".leftLst").addClass("over");
                            $(".rightLst").removeClass("over");

                        });
                    }


                    //this function used to move the items
                    function ResCarousel(e, el, s) {
                        var leftBtn = ('.leftLst');
                        var rightBtn = ('.rightLst');
                        var translateXval = '';
                        var divStyle = $(el + ' ' + itemsDiv).css('transform');
                        var values = divStyle.match(/-?[\d\.]+/g);
                        var xds = Math.abs(values[4]);
                        if (e == 0) {
                            translateXval = parseInt(xds) - parseInt(itemWidth * s);
                            $(el + ' ' + rightBtn).removeClass("over");

                            if (translateXval <= itemWidth / 2) {
                                translateXval = 0;
                                $(el + ' ' + leftBtn).addClass("over");
                            }
                        }
                        else if (e == 1) {
                            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                            translateXval = parseInt(xds) + parseInt(itemWidth * s);
                            $(el + ' ' + leftBtn).removeClass("over");

                            if (translateXval >= itemsCondition - itemWidth / 2) {
                                translateXval = itemsCondition;
                                $(el + ' ' + rightBtn).addClass("over");
                            }
                        }
                        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                    }

                    //It is used to get some elements from btn
                    function click(ell, ee) {
                        var Parent = "#" + $(ee).parent().attr("id");
                        var slide = $(Parent).attr("data-slide");
                        ResCarousel(ell, Parent, slide);
                    }

                });


    </script>
</body>
</html>