<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md social">
                <ul>
                    <li><i class="fab fa-facebook"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fa fa-rss"></i></li>
                    <li><i class="fab fa-dribbble"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
